<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
  <filter>
        <filter-name>Struts2</filter-name>
        <filter-class>
            org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
        </filter-class>
        <init-param>
			<param-name>loggerFactory</param-name>
			<param-value>
				com.opensymphony.xwork2.util.logging.commons.CommonsLoggerFactory
			</param-value>
		</init-param>
   </filter>

    <filter-mapping>
        <filter-name>Struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
   
  <filter>
    	<filter-name>authFilter</filter-name>
    	<filter-class>com.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
	     <filter-name>authFilter</filter-name>
	     <url-pattern>/*</url-pattern>
	</filter-mapping>
     
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>  
        <error-code>404</error-code>  
        <location>/error.jsp</location>  
</error-page> 
</web-app>
